<h1>Listing tracks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Album</th>
      <th>Track type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tracks.each do |track| %>
      <tr>
        <td><%= track.name %></td>
        <td><%= track.album.name %></td>
        <td><%= track.track_type %></td>
        <td><%= button_to 'Show',
           track_url(track),
           method: :get %></td>
        <td><%= button_to 'Edit',
           edit_track_url(track),
           method: :get %></td>
        <td><%= button_to 'Delete Track',
           track_url(track),
           method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Track', new_track_path %>
