<h1>New track</h1>

<form action="<%= tracks_url %>" method="POST">

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
  >

  <label for="track_name">Track Name</label>
    <input type="text" name="track[name]">

  <br>

  <label for="album_name">From Album</label>
    <select name="track[album_id]">
      <% Album.all.each do |album| %>
        <option value="<%= album.id %>"
          "<%= "selected" if album == @track.album %>">
          <%= album.name %>
        </option>
        <br>
      <% end %>
    </select>

  <br>

  <label for "track_type">
    <input type="radio" name="track[track_type]" value="Regular">Regular<br>
    <input type="radio" name="track[track_type]" value="Bonus">Bonus<br>

  <label for "lyrics">Lyrics</label><br>
    <textarea name="track[lyrics]">
    </textarea>

  <br>


  <input type="submit" value="Add track to <%= @track.album.name %>">

</form>

<br>

<%= link_to 'Back', tracks_path %>
