<% if @track.errors.full_messages %>
  <% @track.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<h1>
  <strong><%= @track.name %></strong>

</h1>

<p>
  <strong>Album:</strong>
  <%= link_to @track.album.name, album_url(@track.album) %>
</p>

<p>
  <strong>Band:</strong>
  <%= link_to @track.album.band.name, band_url(@track.album.band) %>
</p>

<p>
  <strong>Track type:</strong>
  <%= @track.track_type %>
</p>

<br>

<h3>Notes</h3>
<%= render "tracks/notes", track: @track%>

<%= (render "notes/form", track: @track) if signed_in? %>

<p>
  <strong>Lyrics:</strong>
  <br>
  <pre>
    <% lyricize(@track.lyrics).each do |line|%>
      <%= line %><br>
    <% end %>
  </pre>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
