<p id="notice"><%= notice %></p>

<p>
  <strong><%= @track.name %></strong>

</p>

<p>
  <strong>Album:</strong>
  <%= link_to @track.album.name, album_url(@track.album) %>
</p>

<p>
  <strong>Band:</strong>
  <%= link_to @track.album.band.name, band_url(@track.album.band) %>
</p>

<p>
  <strong>Track type:</strong>
  <%= @track.track_type %>
</p>

<p>
  <strong>Lyrics:</strong>
  <br>
  <pre>
    <% lyricize(@track.lyrics).each do |line|%>
      <%= line %><br>
    <% end %>
  </pre>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
