<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @album.name %>
</p>

<p>
  <strong>Band:</strong>
  <%= @album.band %>
</p>

<p>
  <strong>Recording type:</strong>
  <%= @album.recording_type %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
