<% if @album.errors.full_messages %>
  <% @album.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<h1>
  <strong><%= @album.name %></strong>

</h1>

<p>
  <strong>Band:</strong>
  <a href="<%=band_url(@album.band)%>"><%=@album.band.name %></a>
</p>

<p>
  <strong>Recording type:</strong>
  <%= @album.recording_type %>
</p>

<p>
  <strong>Tracks:</strong>
  <% @album.tracks.each do |track| %>
    <a href="<%= track_url(track) %>"><%= track.name %></a>
  <% end %>
</p>

<a href="<%= new_album_track_url(@album) %>">New Track</a>
<%= link_to 'Edit', edit_album_url(@album) %> |
<%= link_to 'Back', albums_path %>
