<h1>Listing bands</h1>
<% @bands.each do |band| %>
  <% if band.errors.full_messages %>
    <% band.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bands.each do |band| %>
      <tr>
        <td><%= band.name %></td>
        <td><%= button_to 'Show',
           band_url(band),
           method: :get %></td>
           <!-- TO DO LATER -->
        <td><%= button_to 'Edit',
           edit_band_url(band),
           method: :get %></td>
        <td><%= button_to 'Delete Track',
           band_url(band),
           method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Band', new_band_path %>
