<% if @band.errors.full_messages %>
  <% @band.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<h1>
  <strong><%= @band.name %></strong>

</h1>

<br>

<p>
  Albums:
  <% @band.albums.each do |album| %>
    <a href="<%= album_url(album) %>"><%= album.name %></a>
  <% end %>
</p>

<a href="<%= new_band_album_url(@band) %>">New Album</a>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
